@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #024059, #026873, #04BF8A );
    font-family: Arial, Helvetica, sans-serif;
}
#principal{
    text-align: center;
    color: #07a377;
}

.sub{
    color: #025940;
}

main{
    width: 550px;
    height: 750px;
    border-radius: 5px;
    margin: auto;
    background-color: white;
    box-shadow: 3px 3px 3px black;
    padding: 10px;

    
}

footer{
    text-align: center;
}

